<div class="main">
    <div class="user-type">
        <div class="user_form">
            <div class="logo">
                <img src="../../assets/images/logo_transparent.png" alt="eatlklogo">
            </div>
            <div class="header">
                PICK YOUR USER TYPE
            </div>
            <div class="userType">
                <button class="cust-btn" routerLink="../register/customer">CUSTOMER</button>
                <button class="rest-btn" routerLink="../register/restaurant">RESTAURANT</button>
            </div>
        </div>

    </div>
</div>