<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="logo">
                <img src="../../assets/images/logo_transparent.png" alt="">
            </div>
            <div class="col-md-4">
                <div class="footer__itemSection">
                    <div class="footer__itemTitle">
                        Restaurants
                    </div>
                    <div class="footer__itemDes">
                        <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer__itemSection">
                    <div class="footer__itemTitle">
                        Customers
                    </div>
                    <div class="footer__itemDes">
                        <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer__itemSection">
                    <div class="footer__itemTitle">
                        About Us
                    </div>
                    <div class="footer__itemDes">
                        <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom row">
            <hr>
            <div class="footer__bottomRight col-md-12">
                © 2021 Copyright EAT.LK • All Rights Reserved
            </div>
        </div>
    </div>
</footer>