<div class="header">
    <div class="navbar">
        <div class="logo">
            <img src="../../assets/images/logo_transparent.png" alt="logoeatlk">
        </div>
        <div class="navmenu">
            <a>
                <span>ABOUT US</span>
            </a>
            <a>
                <span>CONTACT US</span>
            </a>
            <a>
                <span>SIGN IN</span>
            </a>
        </div>
        <div class="userImg">
            <img src="../../assets/images/dfsfsfs.png" alt="">
        </div>
    </div>
    <div class="mainBanner">
        The best platform to discover nearby restaurants
    </div>
</div>
<div class="wrapper">
    <div class="search_box">
        <div class="search_field">
            <div class="input">
                <h2>Search Restaurants </h2>

                <ng-template class="category-sec" let-index="index">
                    <button class="btn">

                    </button>
                </ng-template>

            </div>
            <div class="input1">
                <h2>Search by Location</h2>

                <ng-template class="category-sec">
                    <button class="btn">

                    </button>
                </ng-template>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-section">
        <div class="row">
            <div class="col-4">
                <div class="film-card">
                    <div class="image-section">
                        <img src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyJTIwcG5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                            alt="Snow" />
                    </div>
                    <div class="detail-section">
                        <div class="tour-name">Restaurant Name</div>
                        <div class="tour-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris
                        </div>
                    </div>
                    <div class="container">

                    </div>
                    <div class="card-bottom">
                        <a class="cust-button fullWidthNoBorderOrange">
                            VIEW MENU
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="film-card">
                    <div class="image-section">
                        <img src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyJTIwcG5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                            alt="Snow" />
                    </div>
                    <div class="detail-section">
                        <div class="tour-name">Restaurant Name</div>
                        <div class="tour-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris
                        </div>
                    </div>
                    <div class="container">

                    </div>
                    <div class="card-bottom">
                        <a class="cust-button fullWidthNoBorderOrange">
                            VIEW MENU
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="film-card">
                    <div class="image-section">
                        <img src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyJTIwcG5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                            alt="Snow" />
                    </div>
                    <div class="detail-section">
                        <div class="tour-name">Restaurant Name</div>
                        <div class="tour-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris
                        </div>
                    </div>
                    <div class="container">

                    </div>
                    <div class="card-bottom">
                        <a class="cust-button fullWidthNoBorderOrange">
                            VIEW MENU
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="film-card">
                    <div class="image-section">
                        <img src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyJTIwcG5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                            alt="Snow" />
                    </div>
                    <div class="detail-section">
                        <div class="tour-name">Restaurant Name</div>
                        <div class="tour-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris
                        </div>
                    </div>
                    <div class="container">

                    </div>
                    <div class="card-bottom">
                        <a class="cust-button fullWidthNoBorderOrange">
                            VIEW MENU
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="film-card">
                    <div class="image-section">
                        <img src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyJTIwcG5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                            alt="Snow" />
                    </div>
                    <div class="detail-section">
                        <div class="tour-name">Restaurant Name</div>
                        <div class="tour-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris
                        </div>
                    </div>
                    <div class="container">

                    </div>
                    <div class="card-bottom">
                        <a class="cust-button fullWidthNoBorderOrange">
                            VIEW MENU
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="film-card">
                    <div class="image-section">
                        <img src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2VyJTIwcG5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                            alt="Snow" />
                    </div>
                    <div class="detail-section">
                        <div class="tour-name">Restaurant Name</div>
                        <div class="tour-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris
                        </div>
                    </div>
                    <div class="container">

                    </div>
                    <div class="card-bottom">
                        <a class="cust-button fullWidthNoBorderOrange">
                            VIEW MENU
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>