<h1>Register</h1>
<form (submit)="handleRegister()">
    <!-- first_name:
    <input type="text" [(ngModel)]="first_name" name="first_name" />
    last_name:
    <input type="text" [(ngModel)]="last_name" name="last_name" />
    restaurant_name:
    <input type="text" [(ngModel)]="restaurant_name" name="restaurant_name" />
    phone:
    <input type="number" [(ngModel)]="phone" name="phone" />
    address:
    <textarea [(ngModel)]="address" name="address" ></textarea> -->
    user name:
    <input type="text" [(ngModel)]="username" name="username" />
    password:
    <input type="password" [(ngModel)]="password" name="password" />
    confirm password:
    <input type="password" [(ngModel)]="conf_password" name="conf_password" />

    <button type="submit">SUBMIT</button>
</form>